<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>The Hillary Clinton Email Archive API</title>
        <meta name="description" content="Hillary Clinton Emails API server">
        <meta name="author" content="a&t">

        <link rel="stylesheet" href="css/styles.css">

        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-83630875-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <nav>
	        <% if (typeof user === "undefined") { %>
	        	<a href="/">API Docs</a>
	        	<a href="/login">Log In</a>
	        	<a href="/signup">Sign Up</a>
	        <% } else { %>
	        	<a href="/logout">Logout</a>
	        	<a href="/profile">Profile</a>
	        <% } %>
        </nav>
        <h1>Hillary Clinton Email Archive API</h1>
        <p>A publicly available API of the WikiLeaks <a href="https://wikileaks.org/clinton-emails/">Hillary Clinton Email Archive</a>.</p>
        <h2>Authentication</h2>
        <p>All requests must be sent with a token, which requires <a href="#">an account</a>.</p>
        <h2>Endpoints</h2>
        <p>All routes are GET requests</p>
        <h3>Get emails by Wikileaks ID:</h3>
        <p><code>https://leaksapi.com/clinton-emails/id/&lt;APIKEY&gt;/&lt;ID&gt;</code></p>
        <p>"ID" is the same email id used by the Wikileaks <a href="https://wikileaks.org/clinton-emails/">Hillary Clinton Email Archive</a>.</p>
        <p>Returns: a JSON object</p>
        <br>
        <h3>Get all senders:</h3>
        <p><code>https://leaksapi.com/clinton-emails/from/&lt;APIKEY&gt;</code></p>
        <p>Returns: an array of senders</p>
        <br>
        <h3>Get all recipients:</h3>
        <p><code>https://leaksapi.com/clinton-emails/to/&lt;APIKEY&gt;</code></p>
        <p>Returns: an array of recipients</p>
        <br>
        <h3>Get all subjects:</h3>
        <p><code>https://leaksapi.com/clinton-emails/subject/&lt;APIKEY&gt;</code></p>
        <p>Returns: an array of senders</p>
        <br>
        <h3>Get emails by sender:</h3>
        <p><code>https://leaksapi.com/clinton-emails/from/&lt;APIKEY&gt;/&lt;NAME OF SENDER&gt;</code></p>
        <p>Returns: an array of JSON objects containing IDs</p>
        <br>
        <h3>Get emails by recipient:</h3>
        <p><code>https://leaksapi.com/clinton-emails/to/&lt;APIKEY&gt;/&lt;NAME OF RECIPIENT&gt;</code></p>
        <p>Returns: an array of JSON objects containing IDs</p>
        <br>
        <h3>Get emails by subject:</h3>
        <p><code>https://leaksapi.com/clinton-emails/subject/&lt;APIKEY&gt;/&lt;SUBJECT OF EMAIL&gt;</code></p>
        <p>Returns: an array of JSON objects containing IDs</p>
        <br>
        <p>Issues?  Email <a href="mailto:leaksapi@gmail.com">leaksapi@gmail.com</a></p>
    </body>
</html>
