<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>The Hillary Clinton Email Archive API</title>
        <meta name="description" content="Hillary Clinton Emails API server">
        <meta name="author" content="a&t">

        <link rel="stylesheet" href="css/styles.css">

        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav>
            <a href="/">API Docs</a>
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
         </nav>
        <h1>Hillary Clinton Email Archive API</h1>
        <p>A publicly available API of the WikiLeaks <a href="https://wikileaks.org/clinton-emails/">Hillary Clinton Email Archive</a>.</p>
        <h2>API usage:</h2>
        <p>All requests must be sent with a token, which requires <a href="#">an account</a>.</p>
        <p>Requests follow this format:</p>
        <p><code>https://leaksapi.com/clinton-emails/&lt;APIKEY&gt;/&lt;ID&gt;</code></p>
        <p>The "APIKEY" is the API Key that you received from us.</p>
        </p>The "id" is the same email id used by the Wikileaks <a href="https://wikileaks.org/clinton-emails/">Hillary Clinton Email Archive</a>.</p>
    </body>
</html>
