<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>The Hillary Clinton Email Archive API</title>
        <meta name="description" content="Hillary Clinton Emails API server">
        <meta name="author" content="a&t">

        <link rel="stylesheet" href="css/styles.css">

        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-83630875-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <nav>
            <a href="/">API Docs</a>
            <a href="/login">Log In</a>
            <b>Sign Up</b>
         </nav>
        <h1>Sign Up for API Access</h1>
        <!-- Show any auth response messages -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <form action="/signup" method="post">
            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success btn-lg">Signup</button>
        </form>
        <p class="whoops">Have an account? <a href="/login">Log in</a></p>
    </body>
</html>
